.forgotPassword{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 17em;
}
 .forgotPasswordForm > * {
  margin: 1.5em 0 ;
} 
.forgotPasswordForm{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#root > div > div.UserDialog-Wrapper > div > div > form > div.row.actions > button{
  width: 8em;
}